@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    
    margin:2px;
    box-sizing: border-box;
}

:root{
    --primary-color:#5B21B6;
    --light-blue:#7C3AED;
    --offwhite:#F3F4F6;
    --white:#FFF;
    --gray:#6B7280;
    --darkgray:#4B5563;
}

hr{
    margin:2rem 0;
}

.container{
    padding:1rem;
}

.container-center{
    text-align: center;
}

.flex-center{
    display:flex;
    justify-content: center;
}

.link{
    text-decoration: none;
    padding:0.5rem;
    border-radius:0.5rem;
    margin: 1rem 0.25rem 1rem 0rem;
    color:var(--white);
}

.link-primary{
    
    background: var(--primary-color);
}

.link-secondary{
    color:var(--primary-color);
    border: 1px solid var(--primary-color)
}

.link-div{
    margin:1rem 0rem;
}




.list{
    list-style: none;
    padding-inline-start:0px;
}

.list-inline{
    display:inline;
    padding:0rem 0.5rem;
   
}


.nav{
    background:var(--primary-color);
    color:var(--white);
    padding:1.5rem 1rem;
    border-bottom-left-radius: 2rem;
}

.nav .nav-brand{
    font-weight: bold;
}

.nav .nav-bar{
    text-align:right;
}

.nav .item-active{
    font-weight:900;
}
.hero{
    margin:2rem 0rem;
}
.hero img{
    max-width:350px;
    margin:auto;
    display:block;
}

.hero-header{
    text-align: center;
    color:var(--gray)
    
}

.hero-span{
    color:var(--primary-color);
    margin:0rem 0.5rem 1rem 0rem;
}

.sec{
    padding:2rem 1rem;
    
}

.sec .sec-header{
    text-align:center;
}

.offwhite{
    background:var(--offwhite);
}

.footer{
    background:var(--primary-color);
    padding:2rem 1rem;
    color:var(--white);
    text-align:center;
    border-top-right-radius:2rem;

}

.link-footer{
    margin:0rem;
    padding:0rem;

}

.link:hover{
    background: var(--light-blue)
}

.link-secondary:hover{
    color:var(--white);
}


.sec-div{
    max-width:700px;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    color:var(--gray);
}

.proj p{
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.proj .link-div{
    margin:1.25rem 0rem;

}

.blog{
    max-width:700px;
    margin:0.5rem auto;
    padding:1rem 2rem;
    color:var(--darkgray);
    background:var(--offwhite);
}

.blog img{
    max-width:350px;
    margin:1rem auto;
    display:block;
    object-fit:contain;
}



@media only screen and (min-width: 430px) {
    .blog img{
    max-width:400px;

    }
    
  }

.blog a{
    text-decoration: none;
    color:var(--primary-color);
}

.blog table{
    
        /* font-family: Arial, Helvetica, sans-serif; */
        border-collapse: collapse;
        max-width: 425px;
        margin:auto;
      
}

table th{
    
        
        text-align: left;
        background-color: var(--offwhite);
        
      
}

table td, table th {
    border: 1px solid gray;
    padding: 8px;
  }

  .blog li{
      margin-bottom:1rem;
  }

  p{
      line-height: 1.65rem;
  }

  blockquote{
      max-width:20rem;
  }


  .instagram{
      margin:auto;
      
      display: grid;
      
  }

  .instagram-div{
      display:flex;
      justify-content: center;
      align-items: center;
      margin:2rem 0rem;
  }

  .instagram-media{
      max-width:15rem;
      
      
  }

  @media only screen and (min-width: 700px) {
   
    .instagram{
    grid-template-columns: repeat(2, 1fr);

    }
  }

  @media only screen and (min-width: 950px) {
   
    .instagram{
    grid-template-columns: repeat(3, 1fr);

    }
  }
