@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    
    margin:2px;
    box-sizing: border-box;
}

:root{
    --primary-color:#5B21B6;
    /* --primary-color:#4C1D95;
    --primary-color:#B45309; */
    --light-blue:#7C3AED;
    --offwhite:#F3F4F6;
    --white:#FFF;
    --gray:#6B7280;
}

hr{
    margin:2rem 0;
}

.container{
    padding:1rem;
}

.container-center{
    text-align: center;
}

.flex-center{
    display:flex;
    justify-content: center;
}

.link{
    text-decoration: none;
    padding:0.5rem;
    border-radius:0.5rem;
    margin: 1rem 0.25rem;
    color:var(--white);
}

.link-primary{
    
    background: var(--primary-color);
}

.link-secondary{
    color:var(--primary-color);
    border: 1px solid var(--primary-color)
}




.list{
    list-style: none;
    padding-inline-start:0px;
}

.list-inline{
    display:inline;
    padding:0rem 0.5rem;
   
}


.nav{
    background:var(--primary-color);
    color:var(--white);
    padding:1.5rem 1rem;
    border-bottom-left-radius: 2rem;
}

.nav .nav-brand{
    font-weight: bold;
}

.nav .nav-bar{
    text-align:right;
}

.nav .item-active{
    font-weight:900;
}
.hero{
    margin:2rem 0rem;
}
.hero img{
    max-width:350px;
    margin:auto;
    display:block;
}

.hero-header{
    text-align: center;
    color:var(--gray)
    
}

.hero-span{
    color:var(--primary-color)
}

.sec{
    padding:2rem 1rem;
    
}

.sec .sec-header{
    text-align:center;
}

.offwhite{
    background:var(--offwhite);
}

.footer{
    background:var(--primary-color);
    padding:2rem 1rem;
    color:var(--white);
    text-align:center;
    border-top-right-radius:2rem;

}

.link-footer{
    margin:0rem;
    padding:0rem;

}

.link:hover{
    background: var(--light-blue)
}

.link-secondary:hover{
    color:var(--white);
}
